$icomoon-font-path: "fonts" !default;

$icon-cord: "\e940";
$icon-lamp2: "\e93e";
$icon-lamp3: "\e93f";
$icon-power-plug: "\e93d";
$icon-light-bulb: "\e93b";
$icon-lamp: "\e93c";
$icon-light-bulb: "\e93b";
$icon-lightning: "\e900";
$icon-clouds: "\e900";
$icon-weather: "\e900";
$icon-cloudy: "\e901";
$icon-weather2: "\e901";
$icon-clouds2: "\e901";
$icon-weather3: "\e902";
$icon-cloud: "\e902";
$icon-snowy: "\e903";
$icon-cloud2: "\e903";
$icon-weather4: "\e903";
$icon-snowy2: "\e904";
$icon-cloud3: "\e904";
$icon-weather5: "\e904";
$icon-windy: "\e905";
$icon-rainy: "\e905";
$icon-weather6: "\e905";
$icon-cloud4: "\e905";
$icon-windy2: "\e906";
$icon-cloud5: "\e906";
$icon-weather7: "\e906";
$icon-rainy2: "\e907";
$icon-cloud6: "\e907";
$icon-weather8: "\e907";
$icon-rainy3: "\e908";
$icon-cloud7: "\e908";
$icon-weather9: "\e908";
$icon-lightning2: "\e909";
$icon-weather10: "\e909";
$icon-cloud8: "\e90a";
$icon-weather11: "\e90a";
$icon-cloud9: "\e90b";
$icon-night: "\e90b";
$icon-weather12: "\e90b";
$icon-cloudy2: "\e90c";
$icon-weather13: "\e90c";
$icon-moon: "\e90d";
$icon-night2: "\e90d";
$icon-weather14: "\e90d";
$icon-sun: "\e90e";
$icon-weather15: "\e90e";
$icon-lightning3: "\e90f";
$icon-clouds3: "\e90f";
$icon-weather16: "\e90f";
$icon-cloud10: "\e910";
$icon-lightning4: "\e910";
$icon-weather17: "\e910";
$icon-cloudy3: "\e911";
$icon-weather18: "\e911";
$icon-clouds4: "\e911";
$icon-weather19: "\e912";
$icon-cloud11: "\e912";
$icon-snowy3: "\e913";
$icon-weather20: "\e913";
$icon-cloud12: "\e913";
$icon-snowy4: "\e914";
$icon-weather21: "\e914";
$icon-cloud13: "\e914";
$icon-snowy5: "\e915";
$icon-weather22: "\e915";
$icon-cloud14: "\e915";
$icon-windy3: "\e916";
$icon-rainy4: "\e916";
$icon-weather23: "\e916";
$icon-cloud15: "\e916";
$icon-windy4: "\e917";
$icon-weather24: "\e917";
$icon-cloud16: "\e917";
$icon-rainy5: "\e918";
$icon-weather25: "\e918";
$icon-cloud17: "\e918";
$icon-rainy6: "\e919";
$icon-weather26: "\e919";
$icon-cloud18: "\e919";
$icon-lightning5: "\e91a";
$icon-weather27: "\e91a";
$icon-cloud19: "\e91a";
$icon-lightning6: "\e91b";
$icon-weather28: "\e91b";
$icon-cloud20: "\e91b";
$icon-cloud21: "\e91c";
$icon-weather29: "\e91c";
$icon-lines: "\e91d";
$icon-list: "\e91d";
$icon-weather30: "\e91d";
$icon-weather31: "\e91e";
$icon-cloud22: "\e91e";
$icon-weather32: "\e91f";
$icon-weather33: "\e920";
$icon-cloud23: "\e921";
$icon-night3: "\e921";
$icon-weather34: "\e921";
$icon-cloudy4: "\e922";
$icon-weather35: "\e922";
$icon-snowflake: "\e923";
$icon-gear: "\e923";
$icon-weather36: "\e923";
$icon-wind: "\e924";
$icon-weather37: "\e924";
$icon-windy5: "\e925";
$icon-weather38: "\e925";
$icon-sun2: "\e926";
$icon-weather39: "\e926";
$icon-moon2: "\e927";
$icon-night4: "\e927";
$icon-weather40: "\e927";
$icon-sun3: "\e928";
$icon-weather41: "\e928";
$icon-sunrise: "\e929";
$icon-dawn: "\e929";
$icon-weather42: "\e929";
$icon-home: "\e92a";
$icon-home2: "\e92b";
$icon-home3: "\e92c";
$icon-headphones: "\e92d";
$icon-music: "\e92e";
$icon-pacman: "\e92f";
$icon-connection: "\e930";
$icon-podcast: "\e931";
$icon-feed: "\e932";
$icon-mic: "\e933";
$icon-folder: "\e934";
$icon-folder-open: "\e935";
$icon-folder-plus: "\e936";
$icon-folder-minus: "\e937";
$icon-folder-download: "\e938";
$icon-folder-upload: "\e939";
$icon-lifebuoy: "\e941";
$icon-history: "\e94d";
$icon-clock: "\e94e";
$icon-clock2: "\e94f";
$icon-alarm: "\e950";
$icon-bell: "\e951";
$icon-stopwatch: "\e952";
$icon-calendar: "\e953";
$icon-mobile: "\e958";
$icon-mobile2: "\e959";
$icon-floppy-disk: "\e962";
$icon-user: "\e971";
$icon-users: "\e972";
$icon-hour-glass: "\e979";
$icon-spinner: "\e97a";
$icon-search: "\e986";
$icon-enlarge: "\e989";
$icon-shrink: "\e98a";
$icon-enlarge2: "\e98b";
$icon-shrink2: "\e98c";
$icon-key: "\e98d";
$icon-key2: "\e98e";
$icon-lock: "\e98f";
$icon-unlocked: "\e990";
$icon-wrench: "\e991";
$icon-equalizer: "\e992";
$icon-equalizer2: "\e993";
$icon-cog: "\e994";
$icon-pie-chart: "\e99a";
$icon-stats-dots: "\e99b";
$icon-stats-bars: "\e99c";
$icon-stats-bars2: "\e99d";
$icon-meter: "\e9a6";
$icon-meter2: "\e9a7";
$icon-fire: "\e9a9";
$icon-power: "\e9b5";
$icon-switch: "\e9b6";
$icon-power-cord: "\e9b7";
$icon-cloud24: "\e9c1";
$icon-cloud-download: "\e9c2";
$icon-cloud-upload: "\e9c3";
$icon-cloud-check: "\e9c4";
$icon-download2: "\e9c5";
$icon-sphere: "\e9c9";
$icon-earth: "\e9ca";
$icon-sun4: "\e9d4";
$icon-contrast: "\e9d5";
$icon-brightness-contrast: "\e9d6";
$icon-warning: "\ea07";
$icon-notification: "\ea08";
$icon-question: "\ea09";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-info: "\ea0c";
$icon-blocked: "\ea0e";
$icon-play3: "\ea1c";
$icon-pause2: "\ea1d";
$icon-stop2: "\ea1e";
$icon-volume-high: "\ea26";
$icon-volume-medium: "\ea27";
$icon-volume-low: "\ea28";
$icon-volume-mute: "\ea29";
$icon-volume-mute2: "\ea2a";
$icon-volume-increase: "\ea2b";
$icon-volume-decrease: "\ea2c";
$icon-facebook2: "\ea91";
$icon-spotify: "\ea94";
$icon-dashboard: "\e93a";
$icon-tachometer: "\e93a";

